" ### GENERAL ### 

set number
set relativenumber 
syntax enable

" Sane split orders
set splitbelow
set splitright


" Makes :find search recursively
set path+=**

set backspace=indent,eol,start
"set complete-=i

" Indentation 
set tabstop=4
set shiftwidth=4
set noexpandtab
set smartindent
set autoindent
set smarttab

" Don't consider numbers beginning with 0 as octal
set nrformats-=octal 


" May work in clion. TODO: Test this 
set clipboard=unnamedplus


" Makes tags for tag jumping
" TODO: Auto run this? Maybe not
command! MakeTags !ctags -R .

" Auto load views
autocmd BufWinLeave *.* mkview
autocmd BufWinEnter *.* silent loadview

" This doesn't work
" set formatoptions-=ro
" Setting to stop auto commenting is on last line to avoid being overwritten.
" TODO: Figure out what is overwriting and fix

" ### END GENERAL ###

" ### VIM-SENSIBLE ### 
if has('autocmd')
	filetype plugin indent on
endif
" TODO: Duplicate?
if has('syntax') && !exists('g:syntax_on')
	syntax enable
endif

set incsearch

" Use <C-L> to clear the highlighting of :set hlsearch.
if maparg('<C-L>', 'n') ==# ''
	nnoremap <silent> <C-L> :nohlsearch<C-R>=has('diff')?'<Bar>diffupdate':''<CR><CR><C-L>
endif

set laststatus=2
set ruler
set wildmenu

if !&scrolloff
	set scrolloff=1
endif
if !&sidescrolloff
	set sidescrolloff=5
endif
set display+=lastline

if &encoding ==# 'latin1' && has('gui_running')
	set encoding=utf-8
endif

if &listchars ==# 'eol:$'
	set listchars=tab:>\ ,trail:-,extends:>,precedes:<,nbsp:+
endif

if v:version > 703 || v:version == 703 && has("patch541")
	set formatoptions+=j " Delete comment character when joining commented lines
endif

if has('path_extra')
	setglobal tags-=./tags tags-=./tags; tags^=./tags;
endif


set autoread

if &history < 1000
	set history=1000
endif
if &tabpagemax < 50
	set tabpagemax=50
endif
if !empty(&viminfo)
	set viminfo^=!
endif
set sessionoptions-=options



inoremap <C-U> <C-G>u<C-U>

" ### END VIM-SENSIBLE ### 

" Stop annoying auto commenting
autocmd FileType * setlocal formatoptions-=r formatoptions-=o
